/*simple frame of the whole site*/
body {  font-family:"Microsoft YaHei";
        background: url("/static/image/2.jpg");
    }
#main{  width: 900px;
        border-radius: 5px;
        margin: 1.5em auto;
        padding-bottom: 3em;
        background-color: #fdfdfd;
        /*opacity: 0.8;*/
        /*background-color: rgba(255,255,255,0.5);*/
    }
#head{  border-radius: 5px;
        text-align: center;
        padding: 3em 0.5em 0em 0.5em;
        background: #fdfdfd;
}
.ava{width: 130px;height: 130px;border-radius: 140px;}
#intro{font-family:'arial-black';margin: 2em 0;color: #919191;}
#middle{margin: 3em 3em 1em 3em;}

h3{
    text-indent: 0.8em;
    font-size: large;color: #6f6f6f;
    font-family: "Microsoft YaHei";
    padding: 0.8em 0 0 0;
}

p { text-indent:2em;line-height:1.5em;margin:0;}
ul li{line-height:1.5em;font-size: large;}

/*navigation bar*/
.navibar{text-align:center;border-bottom: 3px solid #b7b7b7;margin:3em 2em 0 2em;padding:1em 0;}
.navibar a{font-size:large;margin:0.5em 1em 0.5em 1em  ;color: #7f7f7f;padding:0;text-decoration:none;}
.navibar a:hover{color: #ff7d8e;}

/*archives on index */
.archive{margin-bottom: 3em;
         padding-bottom: 3em;
         border-bottom: 1px solid #cbcbcb;
        }
.archive a{text-decoration: none;color: #c7bbb9}
.archive a:hover{color: #fc7c8c;}
h2 {    font-size:1.7em;
        color: #c7bbb9;
        margin-top: 0em
    }
.time{text-indent:0em;font-size: small;}
.archbody{margin: 2em 3em 0 1em}
.title{font-size:1em;color: #b7b7b7;padding:0;text-decoration:none;}

/*comments*/
.commentdate{
    font-size:x-small;
    border-bottom: 1px solid #dcdcdc;
    margin: 0.5em 3em 0.5em 3em;
}
.commentbody{color: #cfcfcf;text-indent:2em;line-height: 1.5em;margin: 1em 0 1em 0;}
.commentext{background: #f4f4f4;padding-bottom:2em;margin-top: 5em;}
.commentfooter{}
.commentname{font-size: large;}
.commentarea{font-size: large;margin-top:2em;}
