{% extends 'base.html' %}
{% block content %}
    <h2>Hello world.</h2>
    <div>
        <ul>
            <li>男，未婚.</li>
            <li>(1993~)</li>
            <li>安徽人士</li>
            <li>无信仰，无理想.</li>
            <li>爱好骑行，篮球和万青</li>
            <li>喜欢猫</li>
        </ul>
        <p>Touch me</p>
        <ul>
            <li>email: nexusgrj@gmail.com</li>
            <li>常用ID: Nexus6.</li>
            <li>Github: NexusRJ</li>
            <li>V2EX:Nexus6</li>
        </ul>
    </div>
{% endblock %}