{% extends 'base.html' %}
{% block content %}
{% for archive in archives %}
    <div class="archive">
        <h2><a class='title' href={% url 'showblog' archive.id %}> {{ archive.title }}</a></h2>
        <p class="time">{{ archive.timestamp }}</p>
        <div class="archbody">
            {{ archive.content|safe }}
        </div>
    </div>
{% endfor %}
<!--实现分页-->
    <div class="pageinator">
        {% ifnotequal curPage 1  %}
        <div class="pagebtn"><a href="?curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=pageUp">上一页</a></div>
        {% endifnotequal %}
        {% ifnotequal allPage 1 %}
        <div class="pagestatus">{{ curPage }}/{{ allPage }}</div>
        {% endifnotequal %}
        {% ifnotequal curPage allPage %}
        <div class="pagebtn"><a href="?curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=pageDown">下一页</a></div>
        {% endifnotequal %}
    </div>
{% endblock %}