{% extends 'base.html' %}

{% block content %}
    <div class="archive">
        <h2> {{ thisblog.title }} </h2>
        <p class="time">{{ thisblog.timestamp }}</p>
        <div class="archbody">
            {{ thisblog.content|safe }}
        </div>
    </div>
    <div class="comment">
        评论：
        <div class="showcomment">

            {% for i in thiscomment %}
                <div class="onecomment">
                <div class="commbody">{{ i.content }}</div>
                <div class="comminfo"><span class="commauthor">来自: {{ i.author }}</span><span class="commtime">{{ i.time }}</span></div>
                </div>
            {% endfor %}
        </div>
        <div class="commform">
        <form name='thiscomment' action="/comment?id={{ thisblog.id }}" method="post">
            {% csrf_token %}
            添加评论：<div class="formcont"><textarea type="text" name="content" wrap="virtual"></textarea></div>
            <span class="forminfo">姓名：<input name="author"value="姓名，必填" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"></span>
            <span class="forminfo">email：<input name="email"value="email，必填" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"></span>
            <span class="forminfo">link:<input name="link"value="个人站点，可不填" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"></span>
            <div class="formbtn"><input type="reset" name="reset" value="重置"><input type="submit" name="submit" value="提交"></div>
        </form>
        </div>
    </div>
{% endblock %}